
/*
Evidencias
*/

.Evidencias {
    margin-top: 6rem;
}
.Evidencias .row {
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.Evidencias .municipio {
    background: #3E77C5;
}
.Evidencias .fotos {
    background: #8C8C8C;
    border-radius: 4px;
    margin: 1rem;
}
.Evidencias img {
    margin-top: 1rem;
    margin-bottom: 1rem;
    position: relative;
    display: block;
    border: 0;
    border-radius: 4px !important;
}
.principal img {
    width: 100%;
}
.secundaria {
    padding: 2px;
}
.principal {
    padding: 0;
    width: 100%;
    position: relative;
}
.principal::before {
    content: attr(title);
    position: absolute;
    background: #EAF200;
    /* Color de fondo */
    background: black;
    opacity: .5;
    /* Color de fondo en RGBA */
    color: #FFF;
    /* Color del texto */
    font-size: 14px;
    padding: 5px;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    z-index: 1;
    border-radius: 0 0 4px 4px;
}
#FamiliaF .fotos {
    padding: 1rem;
}

/*

*/