
a {
	outline: none;
	color: #d3394c;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #722040;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}
