.btn {
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px;
  font-size: 22px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  display: inline-block;
  background-color: #fff;
}

.blue {
  color: #55acee;
  border: 2px #55acee solid;
}

.blue:hover {
  background-color: #55acee;
  color: #fff
}

.blue-inverse{
  background-color: #55acee;
  color: #fff
}

.blue-inverse:hover{
  color: #fff;
  background-color: #0476CE;
}

.green {
  color: #05BC51;
  border: 2px #05BC51 solid;
}

.green:hover {
  color: #fff;
  background-color: #05BC51;
}

.green-inverse{
  background-color: #05BC51;
  color: #fff
}

.green-inverse:hover{
  color: #fff;
  background-color: #048E3D;
}

.red {
  color: #e74c3c;
  border: 2px #e74c3c solid;
}

.red:hover {
  color: #fff;
  background-color: #e74c3c;
}

.red-inverse{
  background-color: #e74c3c;
  color: #fff
}

.red-inverse:hover{
  color: #fff;
  background-color: #C42210;
}

.purple {
  color: #9b59b6;
  border: 2px #9b59b6 solid;
}

.purple:hover {
  color: #fff;
  background-color: #9b59b6;
}

.purple-inverse{
  background-color: #9b59b6;
  color: #fff
}

.purple-inverse:hover{
  color: #fff;
  background-color: #79438F;
}

.orange {
  color: #e67e22;
  border: 2px #e67e22 solid;
}

.orange:hover {
  color: #fff;
  background-color: #e67e22;
}

.orange-inverse{
  background-color: #e67e22;
  color: #fff
}

.orange-inverse:hover{
  color: #fff;
  background-color: #C86D1D;
}

.yellow {
  color: #f1c40f;
  border: 2px #f1c40f solid;
}

.yellow:hover {
  color: #fff;
  background-color: #f1c40f;
}

.yellow-inverse{
  background-color: #f1c40f;
  color: #fff
}

.yellow-inverse:hover{
  color: #fff;
  background-color: #DBB004;
}

.buttons {
  text-align: center;
}
