.form-container{
  border-radius: 15px 50px 30px:
}
.form-header{
  background: rgba(244, 220, 44, 0.8);
  border-radius: 15px 50px 0px 0px;
  padding: 10px;
}
.form-body{
  background: rgba(244, 225, 136, 0.6);
  padding: 25px;
  border-radius: 0px 0px 15px 50px;
}
.form-control {
    border: 2px solid rgba(184, 150, 92, 0.83);
    box-shadow: 1px 2px 10px -4px rgba(42,42,42,.74);
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
}
label{
  font-size: 20px;
  color: #8c8c8c;
}
.form-header h1{
  margin-bottom: 0;
  text-align: center;
  font-weight: bold;
  color: #fff;
}
.message-error{
  color: #d9534f;
  font-weight: bold;
  float: right;
}
#btnGuardar{
  margin-bottom: 5px;
}
