.form-container{
  border-radius: 15px 50px 30px:
}
.form-header{
  background: rgba(244, 220, 44, 0.8);
  border-radius: 15px 50px 0px 0px;
  padding: 10px;
}
.form-body{
  background: rgba(244, 225, 136, 0.6);
  padding: 25px;
  border-radius: 0px 0px 15px 50px;
}
.form-control {
    border: 2px solid rgba(184, 150, 92, 0.83);
    box-shadow: 1px 2px 10px -4px rgba(42,42,42,.74);
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
}
p{
  text-align: justify;
}
label{
  font-size: 20px;
  color: #8c8c8c;
}
.form-header h1{
  margin-bottom: 0;
  text-align: center;
  font-weight: bold;
  color: #fff;
}
.message-error{
  color: #d9534f;
  font-weight: bold;
  float: right;
}
#btnGuardar{
  margin-bottom: 5px;
}


#map_canvas{
  width: 100%!important;
  margin-bottom: 15px;
}
.telefonos li{
  list-style: none;
  display: flex;
}
li span{
  font-size: 1.3rem;
}
.telefonos li .fa{
  font-size: 2rem;
}
p .fa{
  font-size: 25px;
  color: #c10c2d;
}
.telefonos{
  padding-top: 5%;
}
.fa-twitter-square{
  color: rgb(29, 160, 242);
}
.fa-facebook-square{
  color: #3e74b9;
}
.fa-phone-square{
  color: #8b4795;
}




@media (max-width: 575px) {
    .subtitulo1 {
        font-size: 2rem;
    }
    .form-container{
      margin-bottom: 25px;
    }
    li span{
      font-size: 90%;
    }
    .qr{
      padding-top: 5%;
    }
    .qr img{
      height: auto;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
  .form-container{
    margin-bottom: 25px;
  }
  li span{
    font-size: 100%;
  }
  .qr img{
    height: 130px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .qr{
    padding-top: 2%;
  }
  .qr img{
    height: 130px;
  }
  .horarios{
    padding-top: 5%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  li span{
    font-size: 100%;
  }
}
