#app{
    margin-bottom: 55px!important;
}
#cabecera{
  padding-top: 50px;
  padding-bottom: 25px;
  background: rgba(255, 255, 10, 0.1);
}
#cabecera h1{
  font-size: 60px;
}
#cabecera .col-md-3, .col-md-4{
  margin-top: 5px;
}
#evidencias{
  background: #F8F8F8;
  padding-top: 35px;
  min-height: 300px;
}
#evidencias h1{
  margin-top: 7%;
  color: #B8B7B7;
}

hr{
  margin: 5px;
}
.container-image {
    padding: 5px;
    margin: 5px;
    background: #e7eef5;
    border-radius: 5px;
}
.secundario {
    display: flex;
    justify-content: center;
    height: 120px;
}
.secundario img {
    height: 116px;
}
.primario {
    display: flex;
    justify-content: center;
    height: 150px;
}
.primario img {
    height: 146px;
}
.titulo {
    display: flex;
    height: 50px;
    overflow: hidden;
    text-align: center;
    font-weight: bold;
    line-height: 45px;

}
.titulo .item {
    margin-top: 0px;
    border-radius: 0px 0px 5px 5px;
    -webkit-box-shadow: 0px 2px 8px -1px rgba(0, 0, 0, 0.24);
    background: #e7eef5;
    color: #fff;
    background: #5CB869;
}
.titulo .item:hover{
    background: #419641;
}
a:link{
  text-decoration:none;
}
.item {
    width: 100%;
    color: black;
    margin: 2px;
    border-radius: 5px;
}
.item img {
    width: 100%;
    border-radius: 3px;
}
.primario .item {
    margin-bottom: 0px;
    border-radius: 5px 5px 0px 0px;
}
.image_wrapper {
    position: relative;
}

/* Definimos el formato de las imagenes */

.image_wrapper .remove {
    position: absolute;
    top: 0px;
    opacity: 0;
    transition: opacity 0.5s linear;
    -webkit-transition: opacity 0.5s linear;
    cursor: pointer;
    border: 0px;
}

/* Mostramos el icono al pasar por encima de la imagen con una transicion */

.image_wrapper:hover .remove {
    transition: opacity 0.5s linear;
    -webkit-transition: opacity 0.5s linear;
    opacity: 0.8;
}
.image_wrapper .remove {
    right: 0px;
}
