.espacioPagina {
    margin-top: 60px;
}
body {
    background-repeat: no-repeat;
}
.btn-circle {
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 8px;
    font-size: 20px;
    line-height: 1.42;
    border-radius: 25px;
}

.box{
  height: 250px;
  overflow: hidden;
}
.box img{
	height: 100%;
	max-width: 100%;
}

.marco{
    border: 3px solid;
    border-radius: 15px;
    border-color: aliceblue;
    padding: 35px;
    min-height: 250px\10;
    min-height: 250px;
    margin-bottom: 65px;
}
@media (min-width: 1200px){
  .marco{
    min-width: 1250px;
  }
}

.form-control{
  border: 2px solid rgba(0, 111, 198, 0.5);
  box-shadow: 1px 2px 10px -4px rgba(42,42,42,.74);
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
}
select.form-control{
  height: auto !important;
}
label{
  font-weight: bold;
  font-size: 15px;
}
