#Capa_1 #Grafica1 #Def1{
    transform: translateY(550px);
      transition: all 1000ms cubic-bezier(0.615, 1.025, 0.745, 1.270); /* custom */

    transform-origin: 50% 50%;
}


#Capa_1 #Grafica1:hover #Def1{
    transform-origin: 50% 50%;
    transform: translateY(0px);

}

div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
    
}

div.scrollmenu svg {
    display: inline-block;
    text-align: center;
    padding: 14px;
    text-decoration: none; 
    /*width: 33.5%;
    height: 20%rem;*/
      width: 26rem;
    height: 20rem;
}


