h1 span{
  text-transform: lowercase;
}
.listaProyectos{
  background: #F8F8FB;
  border-radius: 15px;
  padding: 25px;
  padding-bottom: 15px;
}
.listaProyectos li{
  list-style: none;
  background: #fff;
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 10px;
  display: flex;
}
.listaProyectos li span{
  font-size: 19px;
  flex: 2 1 auto;
  width: 30%;
  overflow: auto;
  padding-right: 5px;
  display: flex;
  align-items: center;

}
.listaProyectos .circle{
  display: flex;
  font-size: 10px;
  margin-top: -6px;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 13px;
  padding-right: 12px;
}
.btn-group, .botonera{
  flex: 2 1 auto;
}
h1{
  font-weight: bold;
  font-size: 45px;
}
.botonera{
  display: flex;
  align-items: center;
}
